* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    height: 5rem;
    background-color: rgba(0,132,253,255);
    max-width: 1300px;
    margin-inline: auto;
}

nav {
    margin-inline: auto;
    height: 100%;
    max-width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-icon {
    color: white;
    display: none;
}


    

/* ADD HIDDEN MENU */


.logo {
    height: 70%;
}

.menu-a {
    color: white;
}
.menu-a, .getstart-but {
    font-size: 1.5rem;
    text-decoration: none;
    margin-left: 2rem;
}

.getstart-but {
    color: black;
    background-color: white;
    padding: .5rem;
    border-radius: 2rem;
}

/*FINE NAV*/

.box-options {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.container-grid {
	max-width: 1300px;
	margin-inline: auto;
    display: flex;
	flex-wrap: wrap;
    --gapx: 1rem;
	--gapy: 1rem;
}



.cells {
    display: flex;
	flex-wrap: wrap;
	gap: var(--gapy) var(--gapx);
}

.cell .content-big {
    background-color: rgba(181,221,255,255);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}


.content-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5rem;
}

.cell-title,
.cell-p,
.cell-a {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.i {
    font-size: 5rem;
}

.cell-title {
    font-size: 1.5rem;
    color: rgba(0,132,253,255);
}


.cell-p {
    font-size: 1.1rem;
}

.cell-a {
    text-decoration: none;
    font-size: 1.3rem;
    color: white;
}

.cell-icon {
    margin-top: .5rem;
    font-size: 3rem;
    color: rgba(0,132,253,255);
}
.content-right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.content-small {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(181,221,255,255);
    border-radius: 10px;

}

.cell {
    flex-basis: calc((100% - 2 * var(--gapx)) / 3);
}

.cell-big {
    flex-basis: calc(2 * ((100% - 2 * var(--gapx)) / 3) + var(--gapx));
    
}

.cell-phone {
    height: 220px;
}

/* END FIRST BOX */



/* PLAN BOX */
.planbox {
    max-width: 1300px;
    margin-inline: auto;
    display: flex;
    background-color: rgba(151,146,228,255);
}

.planleft,
.planright {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-inline: 5rem;
}

.planright {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.white-box-plan {
    border-radius: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 5rem;
    padding: 2rem;
}

.plan-title,
.plan-p {
    margin-top: 1rem;
}

.plan-title {
    font-size: 2rem;
    color: white;
}

.plan-p {
    color: white;
    font-size: 1.2rem;
}

.plan-title-r {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.plan-p-r {
    font-size: 1.2rem;
}


.planning1,
.planning2 {
    width: 300px;
    margin-bottom: 3rem;
}

.planning1 {
    display: flex;
}



/* PARTNER CONTAINER  */
.introducing-partners {
    max-width: 1300px;
    margin-inline: auto;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.partners-h4 {
    margin-bottom: 2rem;
    font-weight: 100;
}

.partners-h2 {
    margin-bottom: 2rem;
    color: rgb(151, 146, 228);
    font-size: 3rem;
}

.partners-p {
    font-size: 1.2rem;
}


.partners {
    max-width: 1300px;
    margin-inline: auto;
}

.partnersquote {
    background-color: rgba(151,146,228,255);
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    border-radius: 2rem;
}


.quotebox {
    width: 100%;
}


.quote {
    color: white;
    margin-bottom: 1rem;
}

.name {
    color: white;
}

.partnersquote img{
    padding: 1rem;
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

/* WORKING WITH US */


.benefits-title{
    color: white;
    text-align: center;
    margin-bottom: 4rem;
    padding-top: 5rem;
    font-size: 2.5rem;    
}

.benefits-box{
    max-width: 1300px;
    margin-inline: auto;
    margin-top: 10rem;
    background-color: rgba(151,146,228,255);
}

.benefits-grid{
    max-width: 80%;
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    gap: .8rem;
    padding-bottom: 8rem;
}

.square-benefits{
    width: calc((100% - 2rem) / 3);
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
}



.number{
    font-size: 3rem;

}

.info-benefits, .number{
    color: rgb(151, 146, 228);
}

.info-benefits {
    font-size: 1.3rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.benefits-p {
    max-width: 90%;
    line-height: 1.5rem;
}

.button-benefits{
    font-size: 1.5rem;
    margin-top: 2rem;
    background-color: rgb(151, 146, 228);
    color: white;
    padding: .2rem .4rem;
    border: none;
    border-radius: 10px;
}

/* ABOUT US */

.about-us {
    width: 70%;
    margin-inline: auto;
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    position: relative;
}


.about-left {
    flex: 0 1 50%;

}

.about-title {
    margin-bottom: 3rem;
    color: rgb(151, 146, 228);
}

.about-p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.about-img {
    padding: 1rem;
    object-fit: cover;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.helper {
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.helper-p {
    width: 50%;
    font-size: 1.5rem;
    color: rgb(151, 146, 228);
}

.li-link {
    margin-top: 2rem;
    text-align: center;
    width: 50%;
    background-color: rgb(151, 146, 228);
    color: white;
    padding: .5rem;
    text-decoration: none;
    border-radius: 20px;
}

/* AGGIUNGERE LOGO QUOTE */


/* FINE ABOUT US */



/* GET START BOX */

.getstart-bg {
    margin-top: 4rem;
    background-color: rgb(151, 146, 228);
    padding-top: 3rem;
    color: white;
}

.getstart-box {
    width: 50%;
    margin-inline: auto;
    text-align: center;
}

.getstart-p {
    padding-top: 2rem;
    padding-bottom: 2rem;
}


.getstart-title,
.simple-title,
.free-title {
    margin-bottom: 2rem;
}

.free-title {
    font-size: 4rem;
    color: goldenrod;
}

.simple-title {
    font-size: 2.5rem;
    font-weight: bold;
}

.getstart-title {
    font-size: 1.5rem;
    font-weight: 100;
    opacity: 0.5;
}

/* FOOTER */

footer {
    text-align: center;
    background-color: rgb(20, 20, 20);
}

.footer-info {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: white;
    width: 50%;
    margin-inline: auto;
}

.footer-p {
    margin-bottom: 2rem;
}





/* MEDIA QUERY */


/* MOBILE */

@media  (max-width: 768px) {

    .menu {
        display: none;
    }
    .menu-icon {
        display: inline;
    }

    .planleft,
    .planright {
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
    }


    .planbox {
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
    }
    
    .introducing-partners {
        margin-inline: auto;
        text-align: center;
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        padding: 2rem;
    }

    .partnersquote {
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
    }


    .quotebox {
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 1rem;
    }

    .about-us {
        display: flex;
        flex-direction: column;
    }

    .benefits-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .square-benefits {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cells {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}
