* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    height: 5rem;
    background-color: rgba(0,132,253,255);
    max-width: 100%;
}

nav {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* ADD HIDDEN MENU */


.logo {
    height: 70%;
}

/*FINE NAV*/



.container-grid {
	max-width: 75%;
	margin-inline: auto;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.grid {
	--gapx: 1rem;
	--gapy: 2rem;
}

.cells {
	display: flex;
	flex-wrap: wrap;
}

.cells {
	gap: var(--gapy) var(--gapx);
}

.cell .content {
	height: 200px; /*DA TOGLIERE ALTEZZA*/
    background-color: rgba(181,221,255,255);
    border-radius: 10px;
}

.cell {
	flex-basis: calc((100% - 2 * var(--gapx)) / 3);
	height: 200px;
}

.cell-hero {
	flex-basis: calc(2 * ((100% - 2 * var(--gapx)) / 3) + var(--gapx));
}

.container {
    height: 400px; /* DA TOGLIERE FISSA*/
}

.box {
    background-color: lightgrey; /*DA TOGLIERE*/
}


    /* END FIRST BOX */


.planbox {
    display: flex;
    width: 100%;
    background-color: rgba(151,146,228,255);
}

.planleft {
    width: 50%;
}

.planright {
    width: 50%;
}


/* END BOX 2 */


.introducing-partners {
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.partners {
    max-width: 70%;
    margin-inline: auto;
}

.partnersquote {
    background-color: rgba(151,146,228,255);
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    border-radius: 2rem;
}

.quotebox {
    width: 100%;
}

.quote {
    margin-bottom: 1rem;
}

.partnersquote img{
    padding: 1rem;
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

